.join-all-wrap{
    width: 1200px;
    margin: 0 auto;
}
.update-title{
    text-align: center;
    margin-top : 70px;
}

.join-box{
    margin: 40px auto;
    width: 650px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr>td:first-child{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}

table{
	margin : 0 auto;
	padding : 45px 0;
}

tr>td:first-child>sup{
color: rgb(226, 1, 1);
}

.inputBox{
    margin-left: 40px;
    height: 45px;
    width: 400px;
    border: 0;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-sizing: border-box;
}


.join-box>table>tbody>tr>td{ 
    padding: 20px 0px;
}



.agree-box>label{
    color: rgb(95, 95, 95);
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
}


.agree-wrap{
    border: 1px solid rgb(197, 197, 197);
    width: 450px;
    margin-left: 40px;
    padding: 20px;
}

.agree-box>span{
    float: right;
    font-size: 12px;
    color: rgb(32, 90, 167);
}

.agree-box>.agreeCheck{
    padding-left: 20px;
}

#agreeBox{
    padding-left: 23px;
}

.inputBox{
    padding-left: 10px;
}

.join-box>table>tbody>tr>td:last-child>.comment{ 
    padding-left: 40px;
    font-size: 13px;
}

/**/
.join-box>table>tbody>tr>td:last-child>#memberEmail{ 
width: 50%;
}
/**/

.join-box>table>tbody>tr>td:last-child>#checkEmail{ 
    width:20%;
    margin: 0;
}

#email-time{
    margin-left: 300px;
}

.join-box>table>tbody>tr>td>button{ 
    color:rgb(32, 90, 167);
    border: 0px;
    height: 45px;
    border-radius: 5px;
    width: 82px;
    cursor: pointer;
    border: 1.8px solid  rgb(32, 90, 167);
    background-color: white;

}

.btnBox{
    width: 515px;
    margin: 0 auto;
}


.btnBox>#update-btn{
	width: 515px;
	height: 50px;
    border-radius: 5px;
	background-color: rgb(32, 90, 167);
	float: right;
	text-align :center;
	line-height: 50px;
	margin : 3px auto;  
	cursor: pointer; 
	font-size: 15px;
	font-weight: 500;
	color: white;
}

.btnBox>#list-btn{
	width: 515px;
	height: 50px;
    border-radius: 5px;
	background-color: rgb(32, 90, 167);
	float: right;
	text-align :center;
	line-height: 50px;
	margin : 3px auto;   
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	color: white;
}

.btnBox>.delBtn{
	width: 515px;
    float: right;
    border-radius: 5px;
    background-color: white;
    border: 1.8px solid rgb(32, 90, 167);
    color: rgb(32, 90, 167);
    text-align :center;
    box-sizing : border-box;
    line-height: 50px;
    margin : 3px auto;   
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 100px;
}

.btnBox>.admin-btn{
	width: 515px;
	border-radius: 5px;
	float: right;
    background-color: white;
    border: 1.8px solid rgb(32, 90, 167);
    color: rgb(32, 90, 167);
    text-align :center;
    box-sizing : border-box;
    line-height: 50px;
    margin-top:5px;
}





/*모달*/
.del-modalWrap{
	display: none;
    width: 100vw;
    height: 115vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
}

.del-modal{
    background-color: #fff;
    width: 350px;
    min-width: 350px;
    max-width: 250px;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    border-radius: 10px;
}

.del-top>h3{
    text-align: center;
    padding : 30px;
    color: rgb(32, 90, 167);
}

.btnDiv{
	width: 190px;
	margin : 0 auto;
	padding : 10px 0;
}

.btnDiv>a{
	display : block;
	width: 90px;
	border : none;
	background-color : rgb(32, 90, 167);
	width: 90px;
	height : 40px;
	border-radius: 5px;
	color : white;
	margin : 0;
	float : left;
	margin-right : 10px;
	text-align : center;
	line-height : 40px;
}

.reset{
	border:1.5px solid rgb(32, 90, 167);
	background-color : white;
	width: 90px;
	height : 40px;
	border-radius: 5px;
	color : rgb(32, 90, 167);
	font-size: 16px;
	cursor: pointer;
}











